@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
.container.formField {
   font-family: 'Sweet';  
  height: 800px; 
  width: 600px;
  background-color: #E8F4F8;
}
.errorMessage-id,
.errorMessage-pw,
.errorMessage-re,
.errorMessage-email,
.errorMessage-tel,
.errorMessage-gender,
.errorMessage-check {
  min-height: 20px; /* 에러 메시지 높이 고정 */
  color: red;
  font-size: 0.9rem;
}
.formTitle {
    color: #5dbce1;
    text-align: center;
}
.formButton {
    margin-top: 20px;
}
.formButton .btn {
    background-color: #5dbce1;
    border: none;
}
.formButton .btn:hover {
    background-color:#AED0DC;
}