/* Import Local CSS */
@import url('variables.css');

@font-face { font-family: 'Dooneun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2'); font-weight: normal; font-display: swap; }

/* Font Icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
  font-family:'Dooneun';
  font-weight: bold;
}
/* body {
  background-color:#ffe5b4;
  margin: 0;
  color: #7a4e2d;
  line-height: 1.5em;
  font-size: 16px;
} */

/* #### Common CSS #### */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
/* Layout CSS */
.container {
  width: 100%;
  background-color:#ffe5b4;
  display: flex;
  justify-content: center; 
  align-items:center;
  height: 100vh;
   margin: 0;
  color: #7a4e2d;
  line-height: 1.5em;
  font-size: 16px;
}
.signin{
  width: 60%;
  padding: 30px;
  /* border:1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(252, 247, 233, 0.5); */
  box-sizing: border-box;
}
.signin {
 width: 500px;
}
.signin-content{
text-align: center;

}
.logo img {
 width: 200px;
}
.logo p {
  font-size: 18px;
  font-weight: bold;
  color:#7a4e2d;
}

.signin-field input {
  border: 1px solid #b7d2cc;
  padding: 20px 20px;
  width: 100%;
  border-radius: 15px;
  margin: 5px 0;
  transition: .3s;
}
.signin-field input:hover{
  box-shadow: 0 0 0 1px #f6e7cb;
}
.signin-field input:focus {
  background: 0 0 0 1px #f6e7cb;;
}
.signin-field input::placeholder {
  color: #e9e8e8;
  transition: 0.35s;
}
.signin-field input:focus::placeholder {
  opacity: 0;
}
.status {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.custom-chk label input[type=checkbox] {
  display: none;
}
.custom-chk label input[type=checkbox]  + em {
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: translateY(5px);
  margin-right: 3px;
  cursor: pointer;
}
.custom-chk label input[type=checkbox] + em:before { border-radius: 50%;
  content: '\F26B';
  font-family: bootstrap-icons;
  font-style: normal;
  color: #ffb385;
  transform: translateY(-3px);
  display: inline-block;
}
.custom-chk label input[type=checkbox]:checked + em:before {
  color: #b7d2cc;
}
.custom-chk a{
  text-decoration: none;
  color: #7a4e2d;
}
/* Button CSS */
.btn-signin {
  cursor: pointer;
   font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  padding: 20px;
  background-color:#ffb385;
}
.btn-signin:hover{
  background: #b7d2cc;
  transition:.3s;
}
.custom-chk a:hover{
  text-decoration: underline;
}
.join-member {
  text-align: center;
  margin: 15px 0;
}
.join-member a {
  color: #ffb385;
  text-decoration: underline;
}
.join-member a:hover {
  color: #b7d2cc;
}
.easy-signin {
  text-align: center;
}
.easy-signin span {
  text-decoration: none;
  color: #ffb385;
}
.social-btn {
  margin: 10px 0;
}
.social-btn a {
  margin: 2px;
}


/* For Big Size Mobile & Tablet Device */
 @media all and (min-width:480px) and (max-width:767px){
  .signin{
  width: 80%;
  
}
@media (orientation: landscape) {
	.container  {
        align-items: start;
     }
}
.logo img {
 width: 180px;
}
.sign-header p {
 display: none;
}
 }
 @media all and (max-width:479px){
.signin{
  width: 100%;
  padding: 10px;
}
.logo img {
 width: 150px;
}
.sign-header p {
 display: none;
}
.btn-signin{
  padding: 12px;
}
.signin-field input {
  padding:15px 20px;
}

 }